{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
    	<img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
    	<img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    <p class="author__degree">Ph.D.</p>
    {% if author.bio %}<p class="author__affiliation">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">
      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}" title="Google Scholar"><i class="fas fa-fw fa-graduation-cap" aria-hidden="true"></i> <span class="label">Google Scholar</span></a></li>
      {% endif %}
      {% if author.cv %}
        <li><a href="{{ author.cv }}" title="CV"><i class="fas fa-fw fa-file-alt" aria-hidden="true"></i> <span class="label">CV</span></a></li>
      {% elsif author.uri %}
        <li><a href="{{ author.uri }}" title="CV"><i class="fas fa-fw fa-file-alt" aria-hidden="true"></i> <span class="label">CV</span></a></li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}" title="GitHub"><i class="fab fa-fw fa-github" aria-hidden="true"></i> <span class="label">GitHub</span></a></li>
      {% endif %}
      {% if author.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}" title="LinkedIn"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> <span class="label">LinkedIn</span></a></li>
      {% endif %}
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}" title="Email"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> <span class="label">Email</span></a></li>
      {% endif %}
    </ul>
  </div>
</div>
